# appveyor.yml
build: off

clone_folder: /usr/go/src/github.com/$username/$project

environment:
  GOPATH: /usr/go/

stack: go 1.21

before_test:
  - go vet ./...

test_script:
  - go run ./build/ -v test
